:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*BASE*/
body {
    color:white;
    background: #141414;
    font-family:Arial, Helvetica, sans-serif;
}

header .container{
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

header .logo{
    color:#E50914;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-size: 40px;
    margin-top: 10px;
}
header .video{
    margin-top:5px;
}

header nav a{
    text-decoration: none;
    color:#AAA;
    padding:5px;
}
header nav a:hover{
    color:red;
    font-size: 20px;
    transition: .3s ease all;
    
}
/*FILME PRINCIPAL*/
.filme-principal{
    font-size: 16px;
    background: /*linear-gradient(rgba(0,0,0,.50),(rgba(0,0,0,.50)100%),*/ url("/HorroFlix/img/capa.jpg");
    height:400px;
    background-size:cover;
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    align-items:flex-end;
}

.filme-principal .descricao{
    margin-bottom:65px;
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

.filme-principal .titulo{
    font-size: 50px;
    margin-top:5%;
    /*font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    text-transform: uppercase;
    text-align:center;
  /* fundo gradiente */
    background-image: linear-gradient(#020202, #d60606);
  /* agora colocamos o fundo gradiente dentro do texto com essa propriedade */
    background-clip: text; -webkit-background-clip: text;
  /* a cor do texto deve estar como transparent */
    color: transparent;
}
.filme-principal .subtitulo{
    font-size:30px;
    text-align:center;
    background-image:linear-gradient(#020202, #d60606);
    background-clip: text; -webkit-background-clip:text;
    color:transparent;
}

.botao{
    background-color:rgba(0,0,0,.50);
    border-radius:30px;
    color:white;
    padding: 15px 15px 15px;
    margin-top:10px;
    margin-bottom:15px;
    margin-right:10px;
    font-size: 12px;
    cursor:pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:black;
    color:red;
    border-color: red;
    transition: .5s ease all;
}
.botao i{
    padding-right:5px;
}
.container{
    margin-left:20px;
}
.box-filme{
    margin-top:10px;
    height:100%;
    width:100%;
    display:block;
}

